@media ( min-width: 200px ) 
{
    .NavBarGrid 
    {
      grid-template-columns: repeat(2, 1fr);
      height: 120px !important;
    }
  
    .site-title 
    {
      font-size: 40px !important;
      padding-top: 8rem !important;
      height: auto !important;
    }
  
    .navLink 
    {
      font-size: 20px !important;
      width: 90%;
      height: auto !important;
    }
  }
  
  @media ( min-width: 480px ) 
  {
    .NavBarGrid 
    {
      grid-template-columns: repeat(2, 1fr);
      height: 110px !important;
    }
  
    .site-title 
    {
      font-size: 40px !important;
      padding-top: 8rem !important;
      height: auto;
    }
  
    .navLink 
    {
      font-size: 20px !important;
      width: 200px;
    }
  }
  
  @media ( min-width: 800px )  
  {
    .NavBarGrid {
      grid-template-columns: repeat(3, 1fr);
      height: 60px !important;
    }
  
    .site-title 
    {
      font-size: 50px !important;
      padding-top: 8rem !important;
      height: 100px;
    }
  
    .navLink 
    {
      font-size: 20px !important;
      width: 200px;
    }
  }
  
  @media ( min-width: 1024px ) 
  {
    .NavBarGrid 
    {
      grid-template-columns: repeat(5, 1fr);
      height: 30px !important;
    }
  
    .site-title 
    {
      font-size: 96px;
      padding-top: 8rem !important;
      height: 100px;
    }
  
    .navLink 
    {
      font-size: 24px;
      width: 200px;
    }
  }
  
  @media ( min-width: 1200px ) 
  {
    .NavBarGrid 
    {
      grid-template-columns: repeat(5, 1fr);
      height: 30px !important;
    }
  
    .site-title 
    {
      font-size: 96px;
      padding-top: 8rem !important;
      height: 100px;
    }
  
    .navLink 
    {
      font-size: 24px;
      width: 200px;
    }
  }

.itemsLeftBadge
{
    color: green !important;
    align-items: left  !important;
    justify-content: center !important;
}

.siteTitle
{
    text-transform: capitalize !important;
    background-color: #375c8f;
    text-align: center;
    box-shadow: 0px -6px 13px rgba(0, 0, 0, 0.3) !important;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.site-title
{
    color:#f3f8ff !important;
    font-size: 76px;
    padding-top: 10rem !important;
    text-decoration: none;
}

.cardWrapper
{
    border-radius: 0.5rem !important;
}

.navLink
{
    font-size: 20px;
    text-align: center !important;
    font-weight: bold;
    text-decoration: none;
    border-top-right-radius: 0.5rem !important;
    border-top-left-radius: 0.5rem !important;
    color:#f3f8ff !important;
    align-items: center  !important;
    justify-content: center !important;
}

.navLink:hover
{
    border-top: 0.5px solid #f3f8ff !important;
    border-right: 0.5px solid #f3f8ff !important;
    border-left: 0.5px solid #f3f8ff !important;
    background-color: #B2CAEB !important;
    color:#375c8f !important;
    border-top-right-radius: 0.5rem !important;
    border-top-left-radius: 0.5rem !important;
}

.navLink.active
{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color:#375c8f !important;
    border-top: 0.5px solid #f3f8ff !important;
    border-right: 0.5px solid #f3f8ff !important;
    border-left: 0.5px solid #f3f8ff !important;
    background-color: #B2CAEB !important;
    border-top-right-radius: 0.5rem !important;
    border-top-left-radius: 0.5rem !important;
}

.NavBarGrid
{
    background-color: #375c8f !important;
    margin-top: 0.05rem !important;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.3) !important;
    justify-content: center;
    display: grid;
    justify-items: center;
}

.itemsLeftBadge
{
    margin-left: 1.5rem;
}