@media ( min-width: 200px )
{
    .productInCartLink
    {
        width: 90% !important;
    }
    
    .productCartGrid
    {
        display: grid;
        grid-template-columns: repeat( 3, 1fr ) !important;
        align-items: center;
        width: 90% !important;
    }

    .shoppingCartTitleWrapper
    {
        width: 90% !important;
    }

    .shoppingCartPage
    {
        width: 90% !important;
    }

    .exitCartButton
    {
        width: 300px;
    }
}

@media ( min-width: 1000px )
{
    .productInCartLink
    {
        width: 70% !important;
    }

    .productCartGrid
    {
        display: grid;
        grid-template-columns: repeat( 5, 1fr ) !important;
        align-items: center;
    }

    .shoppingCartTitleWrapper
    {
        width: 70% !important;
    }

    .shoppingCartPage
    {
        width: 70% !important;
    }

    .exitCartButton
    {
        width: 400px;
    }
}

@media (min-width: 1600px )
{
    .productInCartLink
    {
        width: 50% !important;
    }

    .productCartGrid
    {
        display: grid;
        grid-template-columns: repeat( 5, 1fr ) !important;
        align-items: center;
    }

    .shoppingCartTitleWrapper
    {
        width: 50% !important;
    }

    .shoppingCartPage
    {
        width: 50% !important;
    }

    .exitCartButton
    {
        width: 500px;
    }
}

.cartDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listItemAvatar 
{
    padding-left: 1rem;
}
  
.avatar {
    width: 80px !important;
    height: 80px !important;
}

.productInCartLink
{
    font-size: 18px !important;
    text-decoration: none !important;
    color: black !important;
    padding-left: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.productInCartLink:hover
{
    transition: 0.4s;
}

.productInCartQuantity
{
    font-weight: bold !important;
    color: black !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

.productInCartPrice
{
    font-weight: bold !important;
    color: red !important;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.increaseDecreaseButton
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.removeButton
{
    padding-left: 1rem;
}

.increaseDecreaseButton:hover
{
    background-color: transparent !important;
    color: #375c8f !important;
}

.ShoppingCartTitle
{
    text-align: left !important;
    font-size: 30px;
    padding: 1rem;
    color: #375c8f !important;
}

.shoppingCartTitleWrapper
{
    background-color: #B2CAEB !important;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0.5rem;
    color:black !important;
    height: 50px;    
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoppingCartPage
{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #B2CAEB !important;
    display: flex;
    flex-direction: column !important;
    text-align: left !important;
    align-items: center;
    justify-content: center;
}

.subtotalGrid
{
    padding-left: 1rem;
    font-weight: bold;
    font-size: 30px;
    color: #375c8f;
}

.listItems
{
    color:black !important;
    font-size: 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    padding: 1rem !important;
}

.ListItemWrapperCart
{
    background-color: #f3f8ff;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.ListItemWrapperCart:hover
{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.4) !important;
    transition: 0.4s;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.exitCartButtonWrapper
{
    margin-top: 1rem;
}

.exitCartButton
{
    background-color: #f3f8ff !important;
    margin-top: 1rem;
    height: 40px;
    margin-left: 1rem !important;
    color: rgb(0, 0, 0) !important;
    font-weight: bold !important;
}

.exitCartButton:hover
{
    transition: 0.4s;
    border-color:#375c8f !important;
    border-width: 0.2px;
    border-style: solid;
    background-color: #B2CAEB !important;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    color: #375c8f !important;
    font-weight: bold !important;
}
