.listItemAvatar {
    width: 72px;
    height: 72px;
  }
  
.avatar {
    width: 64px;
    height: 64px;
}

.ShoppingCartTitle
{
    text-align: left !important;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-top: 1rem;
    color: #375c8f !important;
}

.shoppingCartTitleWrapper
{
    
    background-color: #B2CAEB !important;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0.5rem;
    color:black !important;
    height: 50px;    
    margin-bottom: 1rem;
}

.shoppingCartPage
{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0.5rem;
    display: grid;
    padding: 1rem;
    background-color: #B2CAEB !important;
    display: flex;
    flex-direction: column !important;
}

.listItems
{
    color:black !important;
    font-size: 20px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    text-decoration: none !important;
}