@media ( min-width: 400px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(1,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media ( min-width: 800px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(2,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1200px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(3,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1600px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(4,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

.productspage
{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0.5rem;
}

.productPageGrid
{
    justify-content: left;
    background-color: #B2CAEB;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.productPageBox
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.addToCartButton
{
    background-color: #f3f8ff !important;
    margin-top: 1rem;
    height: 40px;
    width: 200px;
    align-self: left;
    margin-left: 1rem !important;
    color: rgb(0, 0, 0) !important;
    font-weight: bold !important;
}

.addToCartButton:hover
{
    transition: 0.4s;
    border-color:#375c8f !important;
    border-width: 0.2px;
    border-style: solid;
    background-color: #B2CAEB !important;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    color: #375c8f !important;
    font-weight: bold !important;
}

@keyframes loading 
{
    0%{content: "Loading";}
    5%{content: "Loading |";}
    10%{content: "Loading   |   |";}
    15%{content: "Loading   |   |   |";}
    20%{content: "Loading   |   |   |   |";}
    25%{content: "Loading   |   |   |   |   |";}
    30%{content: "Loading   |   |   |   |   |   |";}
    35%{content: "Loading   |   |   |   |   |   |   |";}
    40%{content: "Loading   |   |   |   |   |   |   |   |";}
    50%{content: "Loading   |   |   |   |   |   |   |   |   |";}
    55%{content: "Loading   |   |   |   |   |   |   |   |   |   |";}
    60%{content: "Loading   |   |   |   |   |   |   |   |   |   |   |";}
    65%{content: "Loading   |   |   |   |   |   |   |   |   |   |   |   |";}
    70%{content: "Loading   |   |   |   |   |   |   |   |   |   |   |   |   |";}
    75%{content: "Loading   |   |   |   |   |   |   |   |   |   |   |   |   |   |";}
    80%{content: "Loading   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |";}
    85%{content: "Loading   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |";}
    90%{content: "Loading   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |";}
    95%{content: "Loading   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |";}
}

.loading::after
{
    content: "Loading";
    animation: loading 2s infinite;
}

.loading
{
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    background-color: #B2CAEB;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color:#375c8f !important;
}