@media ( min-width: 400px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        padding: 0 2rem;
        grid-template-columns: repeat(1,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media ( min-width: 800px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(2,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1200px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(3,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1600px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(4,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

.productPageGrid
{
    justify-content: left;
    background-color: #B2CAEB;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.productPageBox
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.addToCartButton
{
    background-color: #EBF3FF !important;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    height: 30px;
    width: 200px;
    align-self: left;
    margin-left: 1rem !important;
    color: rgb(0, 0, 0) !important;
}

.addToCartButton:hover
{
    background-color: #9EB1CD !important;
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}