@media ( min-width: 400px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(1,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media ( min-width: 800px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(2,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1200px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(3,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1600px )
{
    .productsGrid
    {
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(4,1fr);
        background-color: #B2CAEB;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
}

.productspage
{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0.5rem;
}

.productPageGrid
{
    justify-content: left;
    background-color: #B2CAEB;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.productPageBox
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.addToCartButton
{
    background-color: #f3f8ff !important;
    margin-top: 1rem;
    height: 30px;
    width: 200px;
    align-self: left;
    margin-left: 1rem !important;
    color: rgb(0, 0, 0) !important;
}

.addToCartButton:hover
{
    transition: 0.4s;
    border-color:#f3f8ff;
    border-width: 0.2px;
    border-style: solid;
    background-color: #B2CAEB !important;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    color: #f3f8ff !important;
}